<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calculadora Paypal - TickTeam</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="vendor/css/bootstrap.css">
</head>
<body>
	<div class="container" id="app">
		<div class="row">
			<div class="col-md-6">
				<div>
					<h3>Calculadora para enviar</h3>
					<div>
						<div class="form-check">
						  	<input class="form-check-input" type="radio" name="paypal" id="paypal" value="paypal" v-model="mode">
						  	<label class="form-check-label" for="paypal">
						    	Paypal
						  	</label>
						</div>
						<div class="form-check">
						  	<input class="form-check-input" type="radio" name="efectivo" id="efectivo" value="efectivo" v-model="mode">
						  	<label class="form-check-label" for="efectivo">
							    Efectivo
						  	</label>
						</div>
						<div class="form-check">
						  	<input class="form-check-input" type="radio" name="btc" id="btc" value="btc" v-model="mode">
						  	<label class="form-check-label" for="btc">
							    BTC
						  	</label>
						</div>
					</div>
					<div class="form-group">
						<label for="sent">Si se envian</label>
						<input type="text" name="sent" class="form-control" placeholder="Cantidad que se envia" v-model="sent">
					</div>
					<div class="form-group" v-if="mode == 'paypal'">
						<label for="receive">Se recibe</label>
						<input type="text" name="receive" class="form-control" placeholder="Cantidad que se recibe" :value="receive | format('$')" readonly>
					</div>
					<div class="form-group" v-if="mode == 'paypal'">
						<label for="commission">Comisión</label>
						<input type="text" name="commission" class="form-control" :value="commission | format('$')" readonly>
					</div>

					<div class="row">
						<div class="col-md-6" v-if="mode == 'paypal'">
							<div class="form-group">
								<label for="rate">Tasa Paypal</label>
								<input type="number" step="1000" name="paypal"  class="form-control" v-model="paypal" placeholder="Tasa en Bolivares">
							</div>
						</div>
						<div class="col-md-6" v-if="mode == 'efectivo'">
							<div class="form-group">
								<label for="dt">Dolar Today</label>
								<input type="number" step="1000" name="dt" class="form-control" v-model="dolartoday" placeholder="Dolar Today">
							</div>
						</div>
						<div class="col-md-6" v-if="mode == 'btc'">
							<div class="form-group">
								<label for="btc">Bitcoin</label>
								<input type="number" step="1000" name="btc" class="form-control" v-model="btc" placeholder="Bitcoin">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="time">Última actualización</label>
								<input type="text" step="1000" name="time" class="form-control" v-model="time" placeholder="Última actualización">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="totalbs">Total en Bolivares</label>
						<input type="text" name="totalbs"  class="form-control" :value="totalbs | format('Bs')" placeholder="Total en Bolivares" readonly>
					</div>

					<button type="button" class="btn btn-success btn-sm" @click="copy" v-if="sent">
						Exportar
					</button>
				</div>
			</div>
			<div class="col-md-6" v-if="mode === 'paypal'">
				<div>
					<h3>Calculadora para recibir</h3>
					<div class="form-group">
						<label for="quantity">Para recibir</label>
						<input type="text" name="quantity" class="form-control" placeholder="Cantidad de dolar a recibir" v-model="quantity">
					</div>
					
					<div class="form-group">
						<label for="necessary">Se deben enviar</label>
						<input type="text" name="necessary" class="form-control" placeholder="Cantidad que se debe enviar" :value="necessary | format('$')" readonly>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="vendor/js/vue.min.js"></script>
	<script src="vendor/js/axios.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>